# Git files
.git
.gitignore

# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Local secrets and config
.env
mypy.ini

# Local development artifacts
.coverage
archive/
results/